body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.back-link {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Styles for task 2 */

.form {
  margin: 36px 0 0 156px;
  width: 360px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.form-label-delay {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-input-delay {
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #808080;
  height: 40px;
  border-radius: 4px;
}

.form-input-delay:hover {
  border: 1px solid #000000;
}

.form-input-delay:focus {
  border: none;
  outline: 1px solid #4e75ff;
}

.form-fieldset {
  display: flex;
  margin: 0 0 24px 0;
  gap: 48px;
  justify-content: center;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  padding-bottom: 8px;
}

.form-legend {
  letter-spacing: 0.04em;
  margin-bottom: 14px;
}

.form-btn {
  height: 40px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
}

.form-btn:hover {
  background-color: #6c8cff;
}

